#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.visualizer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.visualizer-canvas {
  width: 50vw;
  height: 50vw;
}
